/* Font */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
  font-weight: 300;
}

/* Home */

.home {
  background-color: #dccaba;
}

.hero {
  background-image: url("./images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hero-banner {
  background-color: rgba(220, 202, 186, 0.9);
  width: 75%;
  height: 75%;
  text-align: center;
  color: #5e6b49;
  padding: 5%;
  position:relative;
  border-radius: 15px;
}

/* .hero-banner::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background: 
  radial-gradient(circle at 50% 0%, rgba(220, 202, 186, 0.9) 25%, transparent 26%, transparent 40%);
  background-color: transparent;
  background-size:75px 150px;
  height:50px;
  background-repeat: repeat-x;
} */

.hero-banner h1 {
  font-size: 65px;
}

.hero-banner p {
  font-size: 18px;
  margin-top: 3%;
}

/* Links */

.links {
  padding: 5%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.link-card {
  background-color: #E9D7CB;
  border: 2px solid #5e6b49;
  border-radius: 5%;
  height: 450px;
  width: 30%;
  text-align: center;
  padding: 5% 0;
  line-height: 300%;
  transition: transform 0.6s;
  color: #5e6b49;
}

.link-card:hover {
  transform: scale(1.05);
  background-color: #5e6b49;
  color: #E9D7CB;
  cursor: pointer;
}

.link-card h1 {
  padding-bottom: 5%;
  font-size: 38px;
}

.link-card i {
  margin-top: 5%;
  font-size: 150px;
}
